@font-face {
  font-family: "OpenSansRegular";
  src: url("OpenSansRegular"),
    url("../fonts/OpenSansRegular.woff2") format('woff2'),
    url("../fonts/OpenSansRegular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSansItalic";
  src: url("OpenSansItalic"),
    url("../fonts/OpenSansItalic.woff2") format('woff2'),
    url("../fonts/OpenSansSemiBold.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("OpenSansSemiBold"),
    url("../fonts/OpenSansSemiBold.woff2") format('woff2'),
    url("../fonts/OpenSansSemiBold.woff") format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSansBold";
  src: url("OpenSansBold"),
    url("../fonts/OpenSansSemiBold.woff2") format('woff2'),
    url("../fonts/OpenSansSemiBold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
::after{
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, button {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --title-text-color: #333333;
  --dark-violet-color: #7943A4;
  --violet-color: #9D5CD0;
  --light-purple: #C283F3;
  --gallery__navigation-btn-color: #666666;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

/* header */

/* header__top */

.header__top-menu {
  background-color: var(--black-color);
}

.header__top {
  padding-top: 30px;
  padding-bottom: 27px;
}

.logo {
  margin-right: 11.2%;
}

.header__nav {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.header__nav-item {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
}

.header__nav-item:not(:last-child) {
  margin-right: 62px;
}

.header__nav-link {
  position: relative;
  transition: color .3s ease-in-out;
}

.header__nav-link:focus-visible {
  outline: none;
  padding: 5px 0;
  background-color: var(--dark-violet-color);
}

.header__nav-link:focus-visible::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: -10px;
  height: 100%;
  width: 10px;
  background-color: var(--dark-violet-color);
}

.header__nav-link:focus-visible::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: -10px;
  height: 100%;
  width: 10px;
  background-color: var(--dark-violet-color);
}

.header__nav-link:hover {
  color: var(--light-purple);
}

.header__nav-link:active {
  color: var(--dark-violet-color);
}

.header__enter_wrap {
  display: flex;
  align-items: center;
  position: relative;
}

.header__enter {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
}

.header__enter-img {
  margin-right: 7px;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  width: 14px;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.header__enter-text {
  transition: color .3s ease;
}

.header__enter-img svg {
  flex: 0 0 18px;
}

.header__enter:focus-visible {
  outline: none;
  padding: 5px 0;
  background-color: var(--dark-violet-color);
}

.header__enter:focus-visible::before {
  content: "";
  position: absolute;
  display: block;
  top: 9%;
  left: -10px;
  height: 35px;
  width: 10px;
  background-color: var(--dark-violet-color);
}

.header__enter:focus-visible::after {
  content: "";
  position: absolute;
  display: block;
  top: 9%;
  right: -10px;
  height: 35px;
  width: 10px;
  background-color: var(--dark-violet-color);
}

.header__enter:hover .header__enter-text {
  color: var(--light-purple);
}

.header__enter:hover .header__enter-img {
  width: 18px;
  color: var(--light-purple);
}

.header__enter:active .header__enter-text {
  color: var(--dark-violet-color);

}

.header__enter:active .header__enter-img {
  width: 18px;
  color: var(--dark-violet-color);
}


/* header__bottom */

.header__bottom-menu {
  background: rgba(0, 0, 0, 0.4);
}

.header__bottom {
  align-items: center;
}

.header__list {
  margin-right: auto;
  align-items: center;
}

.header__item {
  position: relative;
  color: var(--violet-color);
  margin-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__item:not(:last-child) {
  margin-right: 96px;
}

.header__item-btn {
  height: 100%;
  align-items: center;
  outline: none;
  padding-right: 10px;
  border: none;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
  transition: color .3s ease-in-out;
  cursor: pointer;
}

.header__item-btn:focus-visible {
  background-color: var(--dark-violet-color);
}

.header__item-btn:hover {
  color: var(--violet-color);
}

.header__item-btn::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid;
  border-right: 1px solid;
  margin-left: 10px;
  margin-top: 1px;
  transform: rotate(135deg);
  transition: transform .3s ease-in-out;
  transform-origin: center;
}

.header__item-btn.is-active {
  color: var(--dark-violet-color);
  background-color: transparent;
}

.header__item-btn.is-active::after {
  transform: rotate(-45deg) translateY(4px);
}

.header__item-btn:active {
  color: var(--dark-violet-color);
}

.header__dropdown {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  padding: 40px 20px 40px 40px;
  background-color: rgba(0, 0, 0, 0.6);
  transform: translateY(100%);
  z-index: 10;
}

.header__dropdown-wrap {
  width: 240px;
  max-height: 220px;
}

.header__dropdown.is-active {
  display: block;
  animation-name: dropdownOpen;
  animation-duration: .4s;
}

.header__dropdown.is-disabled {
  display: block;
  animation-name: dropdownClose;
  animation-duration: .4s;
}

.header__dropdown-item {
  width: 220px;
}

.header__dropdown-item:not(:last-child) {
  margin-bottom: 20px;
}

.header__item-link {
  position: relative;
  display: block;
  padding: 8px 14px;
  border: 2px solid transparent;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--white-color);
  background-color: var(--black-color);
  background-origin: border-box;
  transition: border-color .3s ease-in-out;
}

.header__item-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 131, 243, 0.4);
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.header__item-link--tintoretto {
  background-image: url("../img/header/1drop1.png");
}

.header__item-link--fridrih {
  background-image: url("../img/header/1drop2.png");
}

.header__item-link--leonardo {
  background-image: url("../img/header/1drop3.png");
}

.header__item-link--veroqu {
  background-image: url("../img/header/1drop4.png");
}

.header__item-link--mone {
  background-image: url("../img/header/2drop1.png");
}

.header__item-link--sisley {
  background-image: url("../img/header/2drop2.png");
}

.header__item-link--mane {
  background-image: url("../img/header/2drop3.png");
}

.header__item-link--renuar {
  background-image: url("../img/header/2drop4.png");
}

.header__item-link--vangok {
  background-image: url("../img/header/3drop1.png");
}

.header__item-link--sezann {
  background-image: url("../img/header/3drop2.png");
}

.header__item-link--gogen {
  background-image: url("../img/header/3drop3.png");
}

.header__item-link--siora {
  background-image: url("../img/header/3drop4.png");
}

.header__item-link--kandinski {
  background-image: url("../img/header/4drop1.png");
}

.header__item-link--marineti {
  background-image: url("../img/header/4drop2.png");
}

.header__item-link--malevich {
  background-image: url("../img/header/4drop3.png");
}

.header__item-link--picasso {
  background-image: url("../img/header/4drop4.png");
}

.header__item-link--karra {
  background-image: url("../img/header/5drop1.png");
}

.header__item-link--pratella {
  background-image: url("../img/header/5drop2.png");
}

.header__item-link--severini {
  background-image: url("../img/header/5drop3.png");
}

.header__item-link--balla {
  background-image: url("../img/header/5drop4.png");
}

.header__item-link:focus-visible,
.header__item-link:hover {
  outline: none;
  border: 2px solid var(--violet-color);
}

.header__item-link:active::before {
  opacity: 1;
}

.header__dropdown .simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: var(--black-color);
}

.header__dropdown
  .simplebar-track.simplebar-vertical
  .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--white-color);
  opacity: 1;
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.header__form {
  align-items: center;
}

.header__form-btn {
  margin-right: 9px;
}

.header__form-btn:focus-visible {
  outline: none;
}

.header__form-input {
  width: 218px;
  padding: 0 0 7px 0;
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  transition: border-bottom .3s ease-in-out;
}

.header__form-input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.header__form-input:focus-visible::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.header__form-input:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--dark-violet-color);
}

.header__form-input:hover {
  outline: none;
  border-bottom: 1px solid var(--light-purple);
}

.header__form-input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

/* hero */

.hero {
  position: relative;
}

.hero__swiper {
  position: absolute;
  top: -73px;
  left: 0;
  width: 100%;
  height: 112%;
  overflow: hidden;
  z-index: -1;
}

.hero__slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation-name: resize;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes resize {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.hero__slide-1 {
  background-image: url("../img/hero/hero-1-1920.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.hero__slide-2 {
  background-image: url("../img/hero/hero-2-1920.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.hero__slide-3 {
  background-image: url("../img/hero/hero-3-1920.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.hero__content {
  max-width: 597px;
  padding-top: 77px;
  padding-bottom: 119px;
}

.hero__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 72px;
  line-height: 82px;
  color: var(--white-color);
}

.hero__text {
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--white-color);
}

.hero__btn {
  padding: 22.5px 35px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
  background-color: var(--violet-color);
}

/* about */

.about__content {
  max-width: 1087px;
  padding: 83px 0 70px 0;
}

.about__title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--title-text-color);
}

.about__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--title-text-color);
}

/* gallery */

.gallery {
  background-color: var(--black-color);
  background-image: url("../img/gallery/galleryBagr.jpg");
}

.gallery__container {
  padding: 80px 0 40px 0;
}

.gallery__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery__left-content {
  display: flex;
  flex-direction: column;
  width: calc(400 / 1600 * 100%);
}

.gallery__title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--white-color);
}

/* select */

.gallery__select {
  margin-bottom: 176px;
}

.gallery__select-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--white-color);
}

.choices__inner {
  min-height: auto;
  height: 40px;
  padding: 7px 0 0 11px;
  background-color: transparent;
}

.choices .choices__list.choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices__item.choices__placeholder.choices__item--selectable,
.choices__item.choices__item--choice.choices__item--selectable {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--white-color);
}

.choices__list.choices__list--dropdown {
  background-color: var(--black-color);
}

.choices .header_choices  {
  max-width: 400px;
}

.header_choices .choices__list--dropdown {
  top: 40px;
  z-index: 1;
  border: 1px solid var(--white-color);
  box-sizing: border-box;
  border-radius: 6px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: var(--black-color);
}

.choices__list {
  color: var(--white-color);
}

/* checkbox */

.gallery_checkbox {
  max-width: 147px;
  display: flex;
  flex-direction: column;
}

.check__label:not(:last-child) {
  margin-bottom: 20px;
}

.check__input {
  position: absolute;
	padding:0;
	border:0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

.check__text {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  transition: color .2s ease-in-out;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--white-color);
}

.check__text:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border: 1px solid var(--white-color);
  transition: border-color .3s ease-in-out;
}

.check__text:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 4px;
  height: 4px;
  opacity: 0;
  background-image: url('../img/gallery/check.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity .3s ease-in-out;
}

.check__input:checked ~ .check__text:after {
  opacity: 1;
}

.check__input:focus-visible ~ .check__text:before {
  border: 1px solid var(--light-purple);
}

.check__input:focus-visible ~ .check__text{
  color: var(--light-purple);
  outline: none;
}

.check__input:hover ~ .check__text:before {
  border: 1px solid var(--light-purple);
}

.check__input:hover ~ .check__text{
  color: var(--light-purple);
}

.check__input:checked ~ .check__text::before{
  border-color: var(--light-purple);
}

.check__input:checked ~ .check__text{
  color: var(--light-purple);
}

/* gallery slider */

.gallery__swiper {
  width: calc(1150 / 1600 * 100%);
  margin-right: 0;
}

.slides-container {
  overflow: hidden;
}

.gallery__navigation{
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
}

.gallery__pagination {
  margin-right: 10px;
  text-align: center;
  color: var(--white-color);
}

.gallery__navigation-btn {
  position: relative;
  flex-shrink: 0;
  width: 26px;
  height: 26px;
  background-color: var(--gallery__navigation-btn-color);
  border: 1px solid var(--black-color);
  border-radius: 50%;
  cursor: pointer;
}

.gallery__navigation-btn:focus-visible {
  outline: none;
  border: 2px solid var(--black-color);
}

.gallery__navigation-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px / 2);
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
}

.gallery__navigation-btn.swiper-button-disabled {
  cursor: auto;
  background-color: rgba(102,102,102, 0.5);
}

.btn-prev {
  margin-right: 10px;
}

.btn-next::before {
  left: calc(50% - 7px / 2);
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

.btn-prev::before {
  left: calc(50% - 7px / 2);
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.gallery__slide {
  position: relative;
  overflow: hidden;
  background-color: #926B88;
}

.gallery__slide::before {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  padding-top: calc(100% - 6px);
  border: 3px solid transparent;
  box-sizing: border-box;
  transition: background-color .3s ease, border-color .3s ease;
}

.gallery__slide::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/gallery/gallerySlideAfter.svg");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  background-clip: content-box;
  transition: opacity .5s ease;
}

.gallery__slide:hover::after {
  opacity: 1;
}

.gallery__slide:focus-visible {
  outline: none;
}

.gallery__slide:focus-visible::before {
  border-color: #7943A4;
}

.gallery__slide:active::before {
  border-color: #D1A9F0;
  background-color: rgba(194, 131, 243, 0.4);
}

.gallery__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}






