@font-face {
  font-family: "OpenSansRegular";
  src: url("OpenSansRegular"),
    url("../fonts/OpenSansRegular.woff2") format('woff2'),
    url("../fonts/OpenSansRegular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSansItalic";
  src: url("OpenSansItalic"),
    url("../fonts/OpenSansItalic.woff2") format('woff2'),
    url("../fonts/OpenSansSemiBold.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("OpenSansSemiBold"),
    url("../fonts/OpenSansSemiBold.woff2") format('woff2'),
    url("../fonts/OpenSansSemiBold.woff") format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSansBold";
  src: url("OpenSansBold"),
    url("../fonts/OpenSansSemiBold.woff2") format('woff2'),
    url("../fonts/OpenSansSemiBold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
::after{
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, button, figure {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --title-text-color: #333333;
  --dark-violet-color: #7943A4;
  --violet-color: #9D5CD0;
  --light-purple: #C283F3;
  --violet-ultra-light: #D1A9F0;
  --gallery-navigation-btn-color: #666666;
  --catalog-date-artist: #999999;
  --light-middle-gray: #CACACA;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

/* header */

/* header__top */

.header__top-menu {
  background-color: var(--black-color);
}

.header__top {
  padding-top: 30px;
  padding-bottom: 27px;
}

.logo {
  margin-right: 11.2%;
}

.header__nav {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.header__nav-item {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
}

.header__nav-item:not(:last-child) {
  margin-right: 62px;
}

.header__nav-link {
  position: relative;
  transition: color .3s ease-in-out;
}

.header__nav-link:focus-visible {
  outline: none;
  padding: 5px 0;
  background-color: var(--dark-violet-color);
}

.header__nav-link:focus-visible::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: -10px;
  height: 100%;
  width: 10px;
  background-color: var(--dark-violet-color);
}

.header__nav-link:focus-visible::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: -10px;
  height: 100%;
  width: 10px;
  background-color: var(--dark-violet-color);
}

.header__nav-link:hover {
  color: var(--light-purple);
}

.header__nav-link:active {
  color: var(--dark-violet-color);
}

.header__enter_wrap {
  display: flex;
  align-items: center;
  position: relative;
}

.header__enter {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
}

.header__enter-img {
  margin-right: 7px;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  width: 14px;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.header__enter-text {
  transition: color .3s ease;
}

.header__enter-img svg {
  flex: 0 0 18px;
}

.header__enter:focus-visible {
  outline: none;
  padding: 5px 0;
  background-color: var(--dark-violet-color);
}

.header__enter:focus-visible::before {
  content: "";
  position: absolute;
  display: block;
  top: 9%;
  left: -10px;
  height: 35px;
  width: 10px;
  background-color: var(--dark-violet-color);
}

.header__enter:focus-visible::after {
  content: "";
  position: absolute;
  display: block;
  top: 9%;
  right: -10px;
  height: 35px;
  width: 10px;
  background-color: var(--dark-violet-color);
}

.header__enter:hover .header__enter-text {
  color: var(--light-purple);
}

.header__enter:hover .header__enter-img {
  width: 18px;
  color: var(--light-purple);
}

.header__enter:active .header__enter-text {
  color: var(--dark-violet-color);

}

.header__enter:active .header__enter-img {
  width: 18px;
  color: var(--dark-violet-color);
}


/* header__bottom */

.header__bottom-menu {
  background: rgba(0, 0, 0, 0.4);
}

.header__bottom {
  align-items: center;
}

.header__list {
  margin-right: auto;
  align-items: center;
}

.header__item {
  position: relative;
  color: var(--violet-color);
  margin-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__item:not(:last-child) {
  margin-right: 96px;
}

.header__item-btn {
  height: 100%;
  align-items: center;
  outline: none;
  padding-right: 10px;
  border: none;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
  transition: color .3s ease-in-out;
  cursor: pointer;
}

.header__item-btn:focus-visible {
  background-color: var(--dark-violet-color);
}

.header__item-btn:hover {
  color: var(--violet-color);
}

.header__item-btn::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid;
  border-right: 1px solid;
  margin-left: 10px;
  margin-top: 1px;
  transform: rotate(135deg);
  transition: transform .3s ease-in-out;
  transform-origin: center;
}

.header__item-btn.is-active {
  color: var(--dark-violet-color);
  background-color: transparent;
}

.header__item-btn.is-active::after {
  transform: rotate(-45deg) translateY(4px);
}

.header__item-btn:active {
  color: var(--dark-violet-color);
}

.header__dropdown {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  padding: 40px 20px 40px 40px;
  background-color: rgba(0, 0, 0, 0.6);
  transform: translateY(100%);
  z-index: 10;
}

.header__dropdown-wrap {
  width: 240px;
  max-height: 220px;
}

.header__dropdown.is-active {
  display: block;
  animation-name: dropdownOpen;
  animation-duration: .4s;
}

.header__dropdown.is-disabled {
  display: block;
  animation-name: dropdownClose;
  animation-duration: .4s;
}

.header__dropdown-item {
  width: 220px;
}

.header__dropdown-item:not(:last-child) {
  margin-bottom: 20px;
}

.header__item-link {
  position: relative;
  display: block;
  padding: 8px 14px;
  border: 2px solid transparent;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--white-color);
  background-color: var(--black-color);
  background-origin: border-box;
  transition: border-color .3s ease-in-out;
}

.header__item-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 131, 243, 0.4);
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.header__item-link--tintoretto {
  background-image: url("../img/header/1drop1.png");
}

.header__item-link--fridrih {
  background-image: url("../img/header/1drop2.png");
}

.header__item-link--leonardo {
  background-image: url("../img/header/1drop3.png");
}

.header__item-link--veroqu {
  background-image: url("../img/header/1drop4.png");
}

.header__item-link--mone {
  background-image: url("../img/header/2drop1.png");
}

.header__item-link--sisley {
  background-image: url("../img/header/2drop2.png");
}

.header__item-link--mane {
  background-image: url("../img/header/2drop3.png");
}

.header__item-link--renuar {
  background-image: url("../img/header/2drop4.png");
}

.header__item-link--vangok {
  background-image: url("../img/header/3drop1.png");
}

.header__item-link--sezann {
  background-image: url("../img/header/3drop2.png");
}

.header__item-link--gogen {
  background-image: url("../img/header/3drop3.png");
}

.header__item-link--siora {
  background-image: url("../img/header/3drop4.png");
}

.header__item-link--kandinski {
  background-image: url("../img/header/4drop1.png");
}

.header__item-link--marineti {
  background-image: url("../img/header/4drop2.png");
}

.header__item-link--malevich {
  background-image: url("../img/header/4drop3.png");
}

.header__item-link--picasso {
  background-image: url("../img/header/4drop4.png");
}

.header__item-link--karra {
  background-image: url("../img/header/5drop1.png");
}

.header__item-link--pratella {
  background-image: url("../img/header/5drop2.png");
}

.header__item-link--severini {
  background-image: url("../img/header/5drop3.png");
}

.header__item-link--balla {
  background-image: url("../img/header/5drop4.png");
}

.header__item-link:focus-visible,
.header__item-link:hover {
  outline: none;
  border: 2px solid var(--violet-color);
}

.header__item-link:active::before {
  opacity: 1;
}

.header__dropdown .simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: var(--black-color);
}

.header__dropdown
  .simplebar-track.simplebar-vertical
  .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--white-color);
  opacity: 1;
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.header__form {
  align-items: center;
}

.header__form-btn {
  margin-right: 9px;
}

.header__form-btn:focus-visible {
  outline: none;
}

.header__form-input {
  width: 218px;
  padding: 0 0 7px 0;
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  transition: border-bottom .3s ease-in-out;
}

.header__form-input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.header__form-input:focus-visible::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.header__form-input:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--dark-violet-color);
}

.header__form-input:hover {
  outline: none;
  border-bottom: 1px solid var(--light-purple);
}

.header__form-input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

/* hero */

.hero {
  position: relative;
}

.hero__swiper {
  position: absolute;
  top: -73px;
  left: 0;
  width: 100%;
  height: 112%;
  overflow: hidden;
  z-index: -1;
}

.hero__slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation-name: resize;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes resize {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.hero__slide-1 {
  background-image: url("../img/hero/hero-1-1920.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.hero__slide-2 {
  background-image: url("../img/hero/hero-2-1920.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.hero__slide-3 {
  background-image: url("../img/hero/hero-3-1920.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.hero__content {
  max-width: 597px;
  padding-top: 77px;
  padding-bottom: 119px;
}

.hero__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 72px;
  line-height: 82px;
  color: var(--white-color);
}

.hero__text {
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--white-color);
}

.hero__btn {
  padding: 22.5px 35px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
  background-color: var(--violet-color);
}

/* about */

.about__content {
  max-width: 1087px;
  padding: 83px 0 70px 0;
}

.about__title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--title-text-color);
}

.about__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--title-text-color);
}

/* gallery */

.gallery {
  background-color: var(--black-color);
  background-image: url("../img/gallery/galleryBagr.jpg");
}

.gallery__container {
  padding: 80px 0 40px 0;
}

.gallery__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery__left-content {
  display: flex;
  flex-direction: column;
  width: calc(400 / 1600 * 100%);
}

.gallery__title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--white-color);
}

/* select */

.gallery__select {
  margin-bottom: 176px;
}

.gallery__select-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--white-color);
}

.choices__inner {
  min-height: auto;
  height: 40px;
  padding: 7px 0 0 11px;
  background-color: transparent;
}

.choices .choices__list.choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices__item.choices__placeholder.choices__item--selectable,
.choices__item.choices__item--choice.choices__item--selectable {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--white-color);
}

.choices__list.choices__list--dropdown {
  background-color: var(--black-color);
  border-radius: 0px 0px 6px 6px;
}

.choices[data-type*=select-one]:after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-style: initial;
  border-top: 1px solid;
  border-right: 1px solid;
  margin-left: 10px;
  margin-top: 1px;
  transform: rotate(135deg);
  transition: transform .3s ease-in-out;
  transform-origin: center;
  color: var(--white-color);
}

.choices[data-type*=select-one].is-open:after {
  transform: rotate(-45deg) translateY(4px);
  color: var(--white-color);
}

.choices .header_choices  {
  max-width: 400px;
}

.header_choices .choices__list--dropdown {
  top: 40px;
  z-index: 1;
  border: 1px solid var(--white-color);
  box-sizing: border-box;
  border-radius: 6px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: rgba(255, 255, 255, 0.2);
}

.choices__list {
  color: var(--white-color);
}

/* checkbox */

.gallery_checkbox {
  max-width: 147px;
  display: flex;
  flex-direction: column;
}

.check__label:not(:last-child) {
  margin-bottom: 20px;
}

.check__input {
  position: absolute;
	padding:0;
	border:0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

.check__text {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  transition: color .2s ease-in-out;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--white-color);
}

.check__text:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border: 1px solid var(--white-color);
  transition: border-color .3s ease-in-out;
}

.check__text:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 4px;
  height: 4px;
  opacity: 0;
  background-image: url('../img/gallery/check.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity .3s ease-in-out;
}

.check__input:checked ~ .check__text:after {
  opacity: 1;
}

.check__input:focus-visible ~ .check__text:before {
  border: 1px solid var(--light-purple);
}

.check__input:focus-visible ~ .check__text{
  color: var(--light-purple);
  outline: none;
}

.check__input:hover ~ .check__text:before {
  border: 1px solid var(--light-purple);
}

.check__input:hover ~ .check__text{
  color: var(--light-purple);
}

.check__input:checked ~ .check__text::before{
  border-color: var(--light-purple);
}

.check__input:checked ~ .check__text{
  color: var(--light-purple);
}

/* gallery slider */

.gallery__swiper {
  width: calc(1150 / 1600 * 100%);
  margin-right: 0;
}

.slides-container {
  overflow: hidden;
}

.gallery__navigation{
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
}

.gallery__pagination {
  margin-right: 10px;
  text-align: center;
  color: var(--white-color);
}

.gallery__navigation-btn {
  position: relative;
  flex-shrink: 0;
  width: 26px;
  height: 26px;
  background-color: var(--gallery-navigation-btn-color);
  border: 1px solid var(--black-color);
  border-radius: 50%;
  cursor: pointer;
}

.gallery__navigation-btn:focus-visible {
  outline: none;
  border: 2px solid var(--black-color);
}

.gallery__navigation-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px / 2);
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
}

.gallery__navigation-btn.swiper-button-disabled {
  cursor: auto;
  background-color: rgba(102,102,102, 0.5);
}

.btn-prev {
  margin-right: 10px;
}

.btn-next::before {
  left: calc(50% - 7px / 2);
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

.btn-prev::before {
  left: calc(50% - 7px / 2);
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.gallery__slide {
  position: relative;
  overflow: hidden;
  background-color: #926B88;
}

.gallery__slide::before {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  padding-top: calc(100% - 6px);
  border: 3px solid transparent;
  transition: background-color .3s ease, border-color .3s ease;
}

.gallery__slide::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/gallery/gallerySlideAfter.svg");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  background-clip: content-box;
  transition: opacity .5s ease;
}

.gallery__slide:hover::after {
  opacity: 1;
}

.gallery__slide:focus-visible {
  outline: none;
}

.gallery__slide:focus-visible::before {
  border-color: #7943A4;
}

.gallery__slide:active::before {
  border-color: #D1A9F0;
  background-color: rgba(194, 131, 243, 0.4);
}

.gallery__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* catalog */

.catalog {
  padding-top: 80px;
  padding-bottom: 80px;
}

.catalog__title {
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--title-text-color);
}

.catalog__title-text {
  margin-bottom: 50px;
  max-width: 1080px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--title-text-color);
}

.catalog__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}

.catalog__artist-img {
  margin-bottom: 30px;
}

.catalog__artist-title {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--title-text-color);
}

.catalog__artist-date {
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--catalog-date-artist);
}

.catalog__artist-link {
  position: relative;
  max-width: max-content;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--violet-color);
  transition: color .3s ease-in-out;
}

.catalog__artist-link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--dark-violet-color);
  transform: translate(0, 0) scaleX(0);
  transition: transform .3s ease-in-out;
  z-index: -1;
}

.catalog__artist-link:focus-visible {
  outline: none;
}

.catalog__artist-link:focus-visible {
  color: var(--white-color);
}

.catalog__artist-link:focus-visible:not(:hover):not(:active)::before {
  transform: translate(0, 0) scaleX(1);
}

.catalog__artist-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--violet-ultra-light);
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .3s ease-in-out;
}

.catalog__artist-link:hover::after {
  transform: scaleX(1);
}

.catalog__artist-link:hover {
  color: var(--violet-ultra-light);
}

.catalog__artist-link:active {
  color: var(--dark-violet-color);
}

.catalog__artist-link:active.catalog__artist-link::after {
  transform: scaleX(0);
}

.catalog__artist-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--title-text-color);
}

/* accordion section catalog */

.accordion__item:first-child .accordion__heading {
  border-top: 1px solid var(--light-middle-gray);
}

.accordion__heading {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 0;
  margin-top: -1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--light-middle-gray);
  border-right: none;
  border-left: none;
  padding: 41px 120px 41px 0;
  font-size: 24px;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: color .3s ease-in-out, border-color .3s ease-in-out;
}

.accordion__item:first-child .accordion__heading:hover,
.accordion__heading:hover {
  border-color: var(--violet-color);
}

.accordion__item:first-child .accordion__heading:active,
.accordion__heading:active,
.is-active.accordion__item .accordion__heading {
  border-color: var(--dark-violet-color);
  color: var(--dark-violet-color);
}

.accordion__heading-text {
  position: relative;
}

.accordion__heading-text-wrap {
  position: relative;
  z-index: 1;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  outline: none;
}

.accordion__heading-text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 8px);
  height: 100%;
  transform: translate(-50%, -50%) scaleX(0);
  background-color: var(--dark-violet-color);
  transition: transform .3s ease-in-out;
}

.accordion__heading:hover {
  color: var(--violet-color);
}

.accordion__heading:active {
  color: var(--dark-violet-color);
}

.accordion__heading:focus-visible:not(:active) {
  color: var(--white-color);
  outline: none;
}

.accordion__heading:focus-visible:not(:active) .accordion__heading-text::before {
  transform: translate(-50%, -50%) scaleX(1);
}

.head-icon {
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  height: 50px;
  transform: translateY(-50%) rotate(-180deg);
  transition: background-color .3s, .6s ease-in-out, transform .3s, .6s ease-in-out;
}

.head-icon-round {
  transition: fill .5s ease-in-out, stroke .5s ease-in-out;
}

.accordion__heading:hover .head-icon-round,
.accordion__heading:focus-visible .head-icon-round {
  fill: var(--violet-ultra-light);
  stroke: var(--violet-ultra-light);
}

.accordion__heading:hover .head-icon::before,
.accordion__heading:hover .head-icon::after,
.accordion__heading:focus-visible .head-icon::before,
.accordion__heading:focus-visible .head-icon::after {
  background-color: var(--white-color);
}

.is-active .head-icon {
  transform: translateY(-50%) rotate(0);
}

.is-active .accordion__heading .head-icon-round {
  fill: var(--violet-ultra-light);
  stroke: var(--violet-color);
}

.accordion__content {
  overflow: hidden;
  visibility: hidden;
  margin-top: -1px;
  border-bottom: 1px solid transparent;
  max-height: 0;
  transition: all 3s ease-in-out;
}

.is-active .accordion__content {
  visibility: visible;
  border-color: var(--light-middle-gray);
  max-height: 100%;
}

.accordion__content-wrap {
  padding-top: 26px;
  padding-bottom: 26px;
}

.accordion__inner-list {
  column-count: 3;
}

.accordion__painter-btn-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--title-text-color);
  transition: color .3s ease-in-out;
}

.accordion__painter-btn {
  position: relative;
}

.accordion__painter-btn::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--dark-violet-color);
  transform: translate(0, 0) scaleX(0);
  transition: transform .3s ease-in-out;
  z-index: -1;
}

.accordion__painter-btn:focus-visible {
  outline: none;
}

.accordion__painter-btn:focus-visible .accordion__painter-btn-text {
  color: var(--white-color);
}

.accordion__painter-btn:focus-visible:not(:hover):not(:active)::before {
  transform: translate(0, 0) scaleX(1);
}

.accordion__painter-btn-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--light-purple);
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform .3s ease-in-out;
}

.accordion__painter-btn-text:hover::after {
  transform: scaleX(1);
}

.accordion__painter-btn-text:hover  {
  color: var(--light-purple);
}

.accordion__painter-btn:active .accordion__painter-btn-text {
  color: var(--dark-violet-color);
}

.accordion__painter-btn:active .accordion__painter-btn-text::after {
  transform: scaleX(0);
}

.accordion__content-img {
  margin-right: 24px;
  padding: 12px;
  border: 2px solid #B7B7B7;
}

.accordion__content-info {
  max-width: 275px;
  flex-direction: column;
  padding-top: 41px;
}

.accordion__content-title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--title-text-color);
}

.accordion__content-text {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--title-text-color);
}

/* tabs section catalog */

.tab-content {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  min-height: 500px;
  transform: translateX(-100px);
  transition: .3s ease-in-out;
  opacity: 1s ease-in-out;
  transform: .8s ease-in-out;
}

.tab-content-active {
  visibility: visible;
  position: relative;
  opacity: 1;
  transform: none;
}

.tabs-btn-active .accordion__painter-btn-text {
  color: var(--violet-ultra-light);
}

/* events */

.events {
  padding-top: 80px;
  padding-bottom: 80px;
}

.events__title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--title-text-color);
}

.events__item {
  max-width: 500px;
  border: 1px solid var(--light-middle-gray);
}

.events__picture {
  display: flex;
}

.events__figure-figcaption {
  padding: 13px 50px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--catalog-date-artist);
}

.events__figure-figcaption span {
  display: block;
}

.events__card {
  padding: 0px 50px 39px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 303px;
}

.events__card-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--title-text-color);
}

.events__card-text {
  margin-bottom: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--title-text-color);
}

.events__cards-link {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--violet-color);
  transition: transform .3s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out;
}

.events__cards-link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -5px;
  bottom: -5px;
  width: 100%;
  background-color: var(--violet-color);
  transform-origin: center;
  transform: translate(0%, 0%) scaleX(0);
  z-index: -1;
}

.events__cards-link:focus-visible:not(:hover):not(:active)::before {
  transform: translate(0%, 0%) scaleX(1);
}

.events__cards-link:focus-visible {
  outline: none;
  color: var(--white-color);
}

.events__cards-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--violet-color);
}

.events__cards-link:focus-visible::after {
  background-color: var(--white-color);
}

.events__cards-link:hover {
  color: var(--dark-violet-color);
}

.events__cards-link:hover::after {
  background-color: var(--dark-violet-color);
}

.events__cards-link:active {
  color: var(--title-text-color);
}

.events__cards-link:active::after {
  background-color: var(--title-text-color);
}

/* slider section events */

.events__container {
  max-width: 1650px;
}

.events__swiper {
  padding: 0 25px 0 32px;
}

.events__swiper .swiper-button-prev::after,
.events__swiper .swiper-button-next::after   {
  font-size: 16px;
  color: var(--black-color);
}

.events__swiper-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ECECEC;
  visibility: visible;
  opacity: 1;
  transition: all .3s ease-in-out;
}

.events__swiper-btn--prev {
  left: 5px;
}

.events__swiper-btn--next {
  right: 0;
}

.events__swiper-btn.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
}

.events__swiper-wrap {
  position: relative;
  height: 40px;
  width: 100%;
  display: none;
}

.events__swiper-pagination {
  bottom: 0px;
  top: auto;
}

.events__swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: var(--light-middle-gray);
}

.events__swiper-pagination .swiper-pagination-bullet-active {
  background-color: #666666;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap,7.5px);
}

/* project */

.project {
  padding-top: 80px;
  padding-bottom: 80px;
}

.project__title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--title-text-color);
}

.project__text {
  max-width: 1080px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--title-text-color);
}

/* tooltip section project */

.project__text-tippy-wrap {
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.project__text-tippy-wrap-tooltip {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 1px solid var(--violet-color);
  color: var(--black-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: background-color .3s ease-in-out;
}

.project__text-tippy-wrap-tooltip:focus-visible,
.project__text-tippy-wrap-tooltip:hover {
  background-color: var(--violet-ultra-light);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.project__text-tippy-wrap-tooltip:active {
  background-color: var(--violet-color);
  color: var(--white-color);
}

.tooltip__hint {
  display: none;
}

.tippy-box[data-animation='rotate'][data-state='hidden'] {
  opacity: 0;
  transform: rotate(180deg);
}

.tippy-box[data-theme~='violet'] {
  background-color: var(--violet-color);
  color: var(--white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
  border-radius: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}

.tippy-box[data-placement^=top]>.tippy-arrow {
  color: var(--violet-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.project__text-link {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--violet-color);
  outline: none;
}

.project__text-link::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--violet-color);
  transform: translate(0%, 0%) scaleX(0);
  z-index: -1;
  transition: transform .3s ease-in-out, color .3s ease-in;
}

.project__text-link:focus-visible:not(:hover):not(:active)::before {
  transform: translate(0%, 0%) scaleX(1);
}

.project__text-link:focus-visible {
  color: var(--white-color);
}

.project__text-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--violet-color);
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform .3s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out;
}

.project__text-link:hover::after {
  transform: scaleX(1);
}

.project__text-link:hover {
  color: var(--violet-color);
}

.project__text-link:active::after {
  transform: scaleX(1);
  background-color: var(--dark-violet-color);
}

.project__text-link:active {
  color: var(--dark-violet-color);
}

/* swiper section project */

.project__title-slider {
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--title-text-color);
}

.project__swiper-btn {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ECECEC;
}

.project__swiper-btn.swiper-button-prev::after,
.project__swiper-btn.swiper-button-next::after {
  font-size: 12px;
  color: var(--black-color);
}

/* contacts */

.contacts {
  border: 1px solid var(--light-middle-gray);
}

.contacts__container {
  padding: 38px 0;
  align-items: center;
  justify-content: space-between;
}

.contacts__address-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--title-text-color);
}

.contacts__address-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--title-text-color);
}

.contacts__form {
  display: flex;
}

.contacts__form-wrap {
  position: relative;
  display: flex;
}

.contacts__form-input {
  max-width: 270px;
  margin-right: 20px;
  padding: 9px 24px;
  border: 1px solid var(--title-text-color);
  border-radius: 100px;
}

.contacts__form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--catalog-date-artist);
  outline: none;
  border: none;
}

.contacts__form-btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--violet-color);
  padding: 6px 25px;
  border: 2px solid var(--violet-color);
  border-radius: 100px;
}

.js-validate-error-label {
  position: absolute;
  top: -40%;
  left: 7%;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.contacts__social-title {
  margin-bottom: 6px;
}

.contacts__social-item:first-child {
  margin-right: 20px;
}

 /* map section contacts */

 .map {
  overflow-x: hidden;
 }

.contacts__map-wrap {
  max-width: 100%;
  height: 700px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.ymaps-2-1-79-copyright__content {
  display: none !important;
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}
















